@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

body {
  --foreground: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto-slab);
  font-weight: 600;
}
